body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* Header */
.top-header {
  background: #2f6b2f;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 28px;
  font-weight: bold;
}

/* Layout */
.container {
  display: flex;
  height: 80vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #0d2b4d;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.sidebar a:hover {
  background: #123b6b;
}

/* Main Content */
.content {
  flex: 1;
  text-align: center;
  padding: 40px;
}

/* Slider */
.slider img {
  width: 80%;
  max-width: 700px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px gray;
}

/* WhatsApp Button */
.whatsapp-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 40px;
  background: #2f6b2f;
  color: white;
  font-size: 22px;
  border-radius: 12px;
  text-decoration: none;
}

.whatsapp-btn:hover {
  background: darkgreen;
}

/* Footer */
.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 18px;
}


/* Dropdown Button */
.dropdown-btn {
  background: none;
  color: white;
  border: none;
  padding: 15px;
  width: 100%;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
}

.dropdown-btn:hover {
  background: #123b6b;
}

/* Dropdown Container Hidden */
.dropdown-container {
  display: none;
  background-color: #102f52;
  padding-left: 15px;
}

/* Dropdown Links */
.dropdown-container a {
  padding: 12px;
  display: block;
  font-size: 16px;
}









.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;  /* पूरी image दिखेगी */
  background: white;
}

